Data Visualization using Cohort 4 chat from Semicolon Group.

In [6]:
import re
import regex
import pandas as pd
import numpy as np

In [2]:
def startsWithDateAndTime(s):
    pattern = '^([0-9]+)(\/)([0-9]+)(\/)([0-9]+), ([0-9]+):([0-9]+)[ ]?(AM|PM|am|pm)? -'
    result = re.match(pattern, s)
    if result:
        return True
    return False

In [3]:
def FindAuthor(s):
    s=s.split(":")
    if len(s)==2:
        return True
    else:
        return False

In [4]:
def getDataPoint(line):
    splitLine = line.split(' - ')
    dateTime = splitLine[0]
    date, time = dateTime.split(', ')
    message = ' '.join(splitLine[1:])
    if FindAuthor(message):
        splitMessage = message.split(': ')
        author = splitMessage[0]
        message = ' '.join(splitMessage[1:])
    else:
        author = None
    return date, time, author, message

In [7]:
parsedData = []  #List to keep track of data so it can be used by a Pandas dataframe
conversationPath = 'C:/Users/USER/Desktop/WhatsApp Chat with Semicolon — Gadans.txt'
with open(conversationPath, encoding="utf-8") as fp:
    fp.readline()  #Skipping first line of the file because it contains information about end-to-end encryption
    messageBuffer = []
    date, time, author = None, None, None
    while True:
        line = fp.readline()
        if not line:
            break
        line = line.strip()
        if startsWithDateAndTime(line):
            if len(messageBuffer) > 0:
                parsedData.append([date, time, author, ' '.join(messageBuffer)])
            messageBuffer.clear()
            date, time, author, message = getDataPoint(line)
            messageBuffer.append(message)
        else:
            messageBuffer.append(line)

In [8]:
df = pd.DataFrame(parsedData, columns=['Date', 'Time', 'Author', 'Message']) #Initialising a Pandas dataframe
df["Date"] = pd.to_datetime(df["Date"])

In [9]:
df.head(2)

,Date,Time,Author,Message
0,2020-01-16,6:00 PM,None,"+234 818 290 5803 created group ""Semicolon Coh..."
1,2020-01-23,5:15 PM,None,+234 802 405 0796 added you

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4029 entries, 0 to 4028
Data columns (total 4 columns):
Date       4029 non-null datetime64[ns]
Time       4029 non-null object
Author     3702 non-null object
Message    4029 non-null object
dtypes: datetime64[ns](1), object(3)
memory usage: 126.0+ KB

In [11]:
df.Author.unique()

array([None, 'Uzo Semicolon', 'iClass Semicolon', '+234 818 290 5803',
       'Deborah priestess semicolon C4', 'Anthony semicolon C4',
       'Camo Semicolon', 'Sadiq', '+234 803 845 6766',
       'Peter Enumah Semicolon C4', 'Ishaku', 'Kunle Semicolon',
       '+234 807 386 0412', '+234 809 019 6449', 'Mr. B',
       'Ganiyu semicolon C4', 'Sam Emmanuel CEO Semicolon.africa',
       'Razaq semicolon c4', 'Moreniké 2', "Ife Semicolon C4 Sam's Sis",
       'Yinka semicolon C4', 'Bola semicolon C4', '+234 708 552 0171',
       '+234 812 571 1144', 'Victor semicolon C4', '+234 708 687 1683',
       "Kola Samuel's semicolon C4", 'Alicho semicolon C4',
       'Michael C4 semicolon', '+234 816 470 2355',
       'Sheun semicolon cohort 4', '+234 703 089 2190',
       'Adeniyi Semicolon C4', '+234 814 348 0415', 'Mr Fakolujo',
       'Stephen semicolon C4 bad commando', '+234 708 918 9188',
       '+234 802 405 0796', 'Razaq semicolon C4', '+234 803 742 8664',
       'Samuel semicolon C4', 'Ernest Semicolon', '+234 813 871 6043',
       '+234 909 138 8098', 'Raphael semicolon C4',
       'Aniefiok semicolon c4', '+234 812 598 9169',
       'Patience Semicolon C4', 'Joanna Ebreso Semicolon C4',
       'Bernard semicolon C4', 'Grace Semicolon C4', '+234 802 441 9462',
       '+234 905 766 5347', '+234 703 103 8346', '+234 704 244 1564',
       'Chijioke c4 semicolon', '+234 706 623 7440'], dtype=object)

In [12]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3702 entries, 2 to 4028
Data columns (total 4 columns):
Date       3702 non-null datetime64[ns]
Time       3702 non-null object
Author     3702 non-null object
Message    3702 non-null object
dtypes: datetime64[ns](1), object(3)
memory usage: 144.6+ KB

In [13]:
df.Author.unique()

array(['Uzo Semicolon', 'iClass Semicolon', '+234 818 290 5803',
       'Deborah priestess semicolon C4', 'Anthony semicolon C4',
       'Camo Semicolon', 'Sadiq', '+234 803 845 6766',
       'Peter Enumah Semicolon C4', 'Ishaku', 'Kunle Semicolon',
       '+234 807 386 0412', '+234 809 019 6449', 'Mr. B',
       'Ganiyu semicolon C4', 'Sam Emmanuel CEO Semicolon.africa',
       'Razaq semicolon c4', 'Moreniké 2', "Ife Semicolon C4 Sam's Sis",
       'Yinka semicolon C4', 'Bola semicolon C4', '+234 708 552 0171',
       '+234 812 571 1144', 'Victor semicolon C4', '+234 708 687 1683',
       "Kola Samuel's semicolon C4", 'Alicho semicolon C4',
       'Michael C4 semicolon', '+234 816 470 2355',
       'Sheun semicolon cohort 4', '+234 703 089 2190',
       'Adeniyi Semicolon C4', '+234 814 348 0415', 'Mr Fakolujo',
       'Stephen semicolon C4 bad commando', '+234 708 918 9188',
       '+234 802 405 0796', 'Razaq semicolon C4', '+234 803 742 8664',
       'Samuel semicolon C4', 'Ernest Semicolon', '+234 813 871 6043',
       '+234 909 138 8098', 'Raphael semicolon C4',
       'Aniefiok semicolon c4', '+234 812 598 9169',
       'Patience Semicolon C4', 'Joanna Ebreso Semicolon C4',
       'Bernard semicolon C4', 'Grace Semicolon C4', '+234 802 441 9462',
       '+234 905 766 5347', '+234 703 103 8346', '+234 704 244 1564',
       'Chijioke c4 semicolon', '+234 706 623 7440'], dtype=object)